<strong>Olá, {{name}}</strong>
<p>Uma nova encomenda foi cadastrada para você! Confira mais detalhes abaixo:</p>
<p>
  <span>Entrega de cachaça</span> <br />
  <strong>No endereço: </strong> {{address}} <br />

  <br />
  Dados sobre a encomenda:
  Numero da Compra:{{invoice_number}} <br />
  Data da Compra: {{invoice_date}} <br />
  Valor total: {{amount}}
</p>
